body {
    background-image: url(images/star_background.jpg);
    font-family: 'Yusei Magic', sans-serif;
    color: #2A2D43;
}

h1 {
    text-align: center;
    border-bottom: 2px dashed #7F2CCB;
    margin: 2rem 6rem;
}

p,
ul {
    margin-left: 2rem;
    margin-right: 2rem;
}

h2 {
    margin-left: 2rem;
    color: #7F2CCB;
}

main,
header,
footer {
    background-color: #EAC2FF;
    border: 1px solid #2A2D43;
    margin: 1vw 15vw;
}

.source {
    text-align: center;
    margin: 2rem;
}

img.portrait {
    display: block;
    padding: 1rem;
    border: 2px dashed #7F2CCB;
    margin: 2rem auto;
    max-width: 40%;
}

a,
a:link {
    color: #414361;
}

a:visited {
    color: #7F2CCB;
}

a:hover {
    color: #01A7C2;
}

a:active {
    color: #414361;
}