html {
    background-image: url("../images/emoji.jpg");
    background-repeat: repeat;
    background-size: 380px;
}

body {
    background-color: #ffcc33da;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 100vh;
    font-family: 'Lilita One', sans-serif;
    text-align: center;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-radius: 25px;
}

h1 {
    font-size: 80px;
    font-weight: 300;
    color: #ffcc33;
    background-color: #ffffff;
    -webkit-text-stroke: 3px black;
    margin-top: 0;
    padding: 1rem 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .6);
    letter-spacing: 5px;
}

h2 {
    font-size: 35px;
    font-weight: 100;
    color: white;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
}

p {
    font-size: 20px;
}

button {
    font-size: 20px;
}

#favorites {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

#favorites h2 {
    margin-bottom: 0px;
}

#savedFaves {
    font-size: 30px;
    background-color: white;
    min-width: 60vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    text-align: center;
    height: 50px;
    border: 6px solid black;
    border-radius: 25px;
}

#blueBox {
    background-color: #6dc4f0;
    border: 8px solid black;
    border-radius: 25px;
    margin: 3rem 1rem 0 1rem;
    min-height: 130px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#blueBox h2 {
    display: none;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#controls {
    display: flex;
    justify-content: space-around;
}

#groupSelect,
#randGroupSelect {
    display: none;
}

#generalSelect {
    border: 6px solid black;
    border-radius: 25px;
    padding: 1rem 4rem 3rem 4rem;
    background-color: #f180c6;
}

#randomSelect {
    border: 6px solid black;
    border-radius: 25px;
    padding: 1rem 4rem 3rem 4rem;
    background-color: #a864f7;
}

.widgets {
    font-size: 25px;
    font-weight: 100;
}

select {
    font-size: 20px;
}

.result {
    box-shadow: 5px 5px 4px rgba(0, 0, 0, .6);
    margin: 1rem;
    background-color: white;
    border-radius: 25px;
    padding: 5px 5px 10px 5px;
    font-size: 8vh;
}

.result:hover {
    box-shadow: 5px 5px 4px #ffcc33;
}

.result:active {
    box-shadow: -5px -5px #000000;
    background-color: rgb(204, 204, 204);
}

footer {
    margin: 0px;
}

#topButtonBox {
    width: 85%;
    height: 6vh;
    text-align: right;
}

#topButton {
    position: fixed;
    bottom: 10px;
    background-color: #f180c6;
    padding: 5px 20px;
    border-radius: 25px;
    border: 4px solid black;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 100;
    margin: 0 1rem;
    text-align: center;
}

a:hover {
    background-color: #a864f7;
    color: white;
}

#search {
    border: 2px outset #f180c6;
}

#search:active {
    border: 2px inset #f180c6;
}

#copy {
    background-color: #6dc4f0;
    border: 6px solid black;
    font-size: 30px;
    height: 90px;
}

#copy:active {
    background-color: #0270a7;
    color: white;
    text-shadow: none;
}

button {
    border-radius: 25px;
    font-family: 'Lilita One', sans-serif;
    font-size: 18px;
    padding: 1rem;
    margin: 1rem;
    background-color: #ffcc33;
    border: 2px outset #a864f7;
}

button:hover {
    background-color: #6dc4f0;
    text-shadow: 2px 2px rgba(255, 255, 255);
}

button:active {
    border: 2px inset #a864f7;
}